<header>
    <div class="navbar">
        
        
      <img id="brand" alt="" src="images/favicon.ico">&nbsp;&nbsp;&nbsp;
    <h1 id="appname"><a  routerLink="profile"><b>G-Hub GOOGLE</b></a> </h1>
        
        <nav class="container-fluid" id="navbar">
        
            
            <a class="nav-item nav-link active" routerLink="user" id="profile">PROFILE<span class="sr-only"></span></a>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <a class="nav-item nav-link" routerLink="repository" id="projects">PORTFOLIO</a>

        </nav>
    </div>
</header>
<!--to make router links work, must use routerLink attribute from the RL directive in the router module-->
